
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f8f8;
}

.header {
  background-color: #fff;
  padding: 15px 30px;
  border-bottom: 1px solid #ddd;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.logo img {
  width: 100px;
  height: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 350px;
}

.navbar .nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
  color: #007BFF;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  color: #333;
  font-size: 20px;
  text-decoration: none;
}

.cta-btn {
  background-color: #007BFF;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #0056b3;
}
main{
  padding: 20px;
  font-size: 20px;
  color: #555;
  text-align: left;
  

  background-image: url(/BTL_Javascript/image/bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.container_2 .content {
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 20px;
  border-radius: 10px;
}

.searchbar {
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 100px 500px 20px;
  background-color: invisible;
}

.sidebar-toggle {
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right:-300px;
  width: 300px;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  transition: right 0.3s ease;
  z-index: 1000;
}

.sidebar.active {
  right: 0;
}

.sidebar img {
  width: 100px;
  height: auto;
  margin-bottom: 2px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #663434
}

